/* Start Global Settings */

:root {
  --first-color: #631d1e;
  --first-alt-color: #421716;
  --sec-color: #88a29b;
  --third-color: #ede5d3;
  --fourth-color: #f5f2ea;
  --font-main: "Lemonada", cursive;
  --font-alt: "Alexandria", sans-serif;
  --margin: 120px auto;
}

* {
  box-sizing: border-box;
}

*,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-main);
  direction: rtl;
  overflow-x: hidden;
  background: rgb(237, 229, 208);
  background: linear-gradient(
    90deg,
    rgba(237, 229, 208, 1) 0%,
    rgba(245, 242, 234, 1) 50%,
    rgba(237, 229, 208, 1) 100%
  );
}

body::-webkit-scrollbar,
.mainbg::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}

body::-webkit-scrollbar-thumb,
.mainbg::-webkit-scrollbar-thumb {
  background: var(--sec-color);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--first-color);
}

a:hover {
  color: var(--first-alt-color);
}

.row {
  margin: 0;
}

/* End Global Settings */

/* Start Header Settings */

header {
  display: flex;
  justify-content: center;
  position: relative;
}

.navbar {
  position: absolute;
  top: 20px;
  width: 75%;
  z-index: 9;
  background-color: var(--third-color);
  padding: 5px !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

header ul li a {
  font-size: 11px;
  font-weight: 600;
  padding: 10px 12px;
  display: inline-block;
  color: var(--first-color);
}

header ul li a.active,
header ul li a:hover {
  transition: 0.5s ease-in-out;
  color: var(--first-alt-color);
}

.navbar-toggler {
  font-size: 2rem;
}

.navbar-toggler svg {
  color: var(--first-color);
}

.navbar-dark .navbar-toggler {
  border-color: var(--first-color);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../images/icons/menu.png");
  outline: none;
  border: none;
  width: 38px;
}

.header-btn {
  border: 3px solid var(--first-color);
  color: var(--first-color);
  font-size: 12px;
  font-weight: 400;
  margin-right: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header-btn:hover {
  color: var(--sec-color);
  border: 3px solid var(--sec-color);
}

/* End Header Settings */

/* Start Hero Settings */

#Hero {
  background: rgb(99, 29, 30);
  background: linear-gradient(
    90deg,
    rgba(99, 29, 30, 1) 0%,
    rgba(237, 229, 208, 1) 100%
  );
  font-family: var(--font-alt);
  padding-bottom: 20px;
  min-height: 100vh;
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-img > img {
  width: 42%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.hero-content {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.upper-text {
  margin-left: 3px;
  margin-bottom: 0px;
  color: var(--first-color);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.main-text {
  font-size: 5.9rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--first-color);
}

.lower-text {
  margin-left: 3px;
  font-size: 20px;
  color: var(--first-color-alt);
  font-weight: 600;
  margin-top: -25px;
}

.hero-btn {
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
  padding: 8px 15px;
  font-size: 14px;
  margin-left: 3px;
  position: relative;
  z-index: 2;
}

.hero-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--first-color);
  left: 0;
  top: 0;
  transition: all 0.5s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.hero-btn:hover {
  color: var(--third-color);
}
.hero-btn:hover::before {
  width: 100%;
  z-index: -1;
}

@media (max-width: 385px) {
  .main-text {
    font-size: 5rem;
  }
  .hero-img > img {
    width: 70%;
  }
}

/* End Hero Settings */

/* Start About Settings */
#About {
  margin-top: 20px;
  background: rgb(237, 229, 208);
  background: linear-gradient(
    90deg,
    rgba(237, 229, 208, 1) 0%,
    rgba(245, 242, 234, 1) 50%,
    rgba(237, 229, 208, 1) 100%
  );
}

.about-content {
  font-family: var(--font);
  text-align: right !important;
  background-color: var(--sec-color);
  height: fit-content;
  border-radius: 0px 20px 0px 20px;
  -webkit-border-radius: 0px 20px 0px 20px;
  -moz-border-radius: 0px 20px 0px 20px;
  -ms-border-radius: 0px 20px 0px 20px;
  -o-border-radius: 0px 20px 0px 20px;
  position: relative;
  padding: 60px;
}

.about-content .about-name {
  color: var(--first-color);
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 40px;
  z-index: 2;
}

.about-details {
  color: var(--fourth-color);
  font-size: 17px;
}

.about-heart,
.about-brain {
  position: absolute;
  z-index: 1;
  animation: grow 15s ease infinite;
  -webkit-animation: grow 3s ease infinite;
}

.about-heart {
  top: -100px;
  right: -40px;
}

.about-brain {
  bottom: 0px;
  left: -30px;
}

@media (max-width: 767px) {
  .about-content .about-name {
    font-size: 35px;
  }
  .about-details {
    font-size: 14px;
  }
}
@media (max-width: 545px) {
  .about-content .about-name {
    font-size: 25px;
  }
  .about-details {
    font-size: 11px;
  }
  .about-heart {
    top: -50px;
  }
}
@media (max-width: 430px) {
  .about-content .about-name {
    font-size: 15px;
  }
  .about-details {
    font-size: 9px;
  }
  .about-heart {
    top: -10px;
    right: -10px;
  }
  .about-brain {
    left: -10px;
  }
}

@keyframes grow {
  0% {
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(10deg);
    -webkit-transform: scale(1.1) rotate(10deg);
    -moz-transform: scale(1.1) rotate(10deg);
    -ms-transform: scale(1.1) rotate(10deg);
    -o-transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
  }
}

/* End About Settings */

/* Start Videos Section */

#Videos {
  min-height: 100vh;
}

.title {
  position: relative;
  color: var(--third-color);
  text-align: center;
  z-index: 1;
  background-color: var(--first-color);
  padding: 15px 50px;
}

.title > img:first-of-type {
  position: absolute;
  width: 20%;
  top: 0px;
  right: -30px;
}

.title > img:nth-of-type(2) {
  position: absolute;
  width: 19%;
  top: -10px;
  left: -30px;
}

@media (max-width: 438px) {
  .title > h3 {
    font-size: 16px;
  }
  .title > img:first-of-type {
    position: absolute;
    width: 20%;
    top: 0px;
    right: -10px;
  }
  .title > img:nth-of-type(2) {
    position: absolute;
    width: 15%;
    top: -5px;
    left: -10px;
  }
}

.video {
  overflow: hidden;
  background-color: var(--fourth-color);
  border: none;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
}

.video > img {
  width: 100%;
}

.card-title {
  color: var(--first-color);
}

.card-text {
  color: var(--first-alt-color);
}

.video-btn {
  background-color: var(--first-color);
  color: var(--third-color);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.video-btn:hover {
  background-color: var(--sec-color);
  color: var(--first-color);
}

/* End Videos Section */

/* Start Articles Section */
#Articles {
  padding-bottom: 50px;
  min-height: 100vh;
}

.article {
  background-color: var(--sec-color);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* height: 280px; */
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.article:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.article-img {
  height: 100%;
  width: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.article-img > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.article-content {
  text-align: start;
  gap: 18px;
  width: 60%;
}

.article-title {
  color: var(--first-color);
  font-size: 22px;
  font-weight: 600;
}

.article-description {
  color: var(--first-alt-color);
  font-size: 11px;
}

.article-btn {
  border: none;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: transparent;
  font-size: 14px;
  color: var(--first-color);
  cursor: pointer;
  position: relative;
}

.article-btn::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--first-alt-color);
  bottom: -8px;
  right: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.article-btn:hover::after {
  width: 100%;
}

@media (max-width: 467px) {
  .article {
    flex-direction: column;
  }

  .article-img {
    margin-bottom: 15px;
  }

  .article-content {
    padding: 20px 25px;
    width: 100%;
  }

  .article-description {
    display: none;
  }
}

/* End Articles Section */

/* Start Contact Section */
#Contact {
  background-color: var(--first-color);
  height: 200px;
  display: flex;
  align-items: center;
  position: relative;
}

.contact-info {
  width: 40%;
  padding: 40px 15px;
  background-color: var(--fourth-color);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  color: var(--first-color);
  text-align: center;
}

.phone-numbers {
  font-size: 20px;
  font-weight: 900;
}
.phone-numbers > li {
  margin-bottom: 8px;
}

@media (max-width: 790px) {
  .contact-info {
    width: 60%;
  }
}

@media (max-width: 350px) {
  .contact-info {
    width: 80%;
  }
}

/* End Contact Section */

/* Start Footer Settings */

#footer {
  margin-top: 170px;
  font-family: var(--font);
  background: var(--first-color);
  padding: 0 0 30px 0;
}

#footer .footer-bottom {
  color: #101010;
  background-color: var(--sec-color);
  padding-bottom: 28px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .copyright {
  font-size: 15px;
}

#footer .copyright a {
  color: var(--first-color);
}

/* End footer Settings */
